* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-family: "Roboto", sans-serif;
}

.root {
    margin: .5rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fff;
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.search,
.search>.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
}

.menu-icon {
    display: flex;
    flex-direction: row;
    gap: 1px;
    align-items: center;
    justify-content: center;
}

.menu-element a {
    font-size: 13px;
    color: #1f1f1f;
}

.link:hover {
    text-decoration: underline;
}

.menu-icon i {
    font-size: 1.3rem;
}


.lnXdpd {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

.input-search-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    width: 100%;
    max-width: 584px;
    min-height: 44px;
    padding: 0 .5rem;
    background-color: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: 0px 2px 8px 0px rgba(60, 64, 67, 0.25);
    border-radius: 24px;
}

.input-search-group input {
    width: 100%;
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    color: #1f1f1f;

}

.search-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    justify-content: center;
    flex-direction: column;

}

.input-search-group i {
    color: #9aa0a6;
    font-size: 14px;
    padding-left: 14px;
}

.btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.btn:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124
}

.btn:focus {
    border: 1px solid #4285f4;
    outline: none
}
.logo{
    position: relative;
}

.logo-text{
    color: #4285f4;
    position: absolute;
    bottom: .5rem;
    right: 0;
}